<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>formulario de cadastro de noticias</title>
		</head>
	<body>

		<h1>Adicionar noticias</h1>

	</body>
</html>
